
.container {
  max-width: 960px;
}

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
  text-decoration: none;
}
.site-header a:hover {
  color: rgb(145, 97, 8);
  text-decoration: none;
}

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}


.btn {
  background-image: linear-gradient(to right, #000000 0%, #434343  51%, #000000  100%)
}
.btn {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   font-weight: bold;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 }

 .btn-grad:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 }

 .btn-grad:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
 }


 .btn-grad:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 }


 .btn-grad:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 }


.btn:hover {
  background: rgb(114, 113, 112);
 
}


.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}
.editor-img {
  opacity: 0.6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  filter: blur(5px);
}
    
.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

.editor-card {
  box-shadow: rgb(112, 111, 111) 0px 22px 70px 4px;  
  border:none;
  border-radius: 5%;
}

.editor-text-card {
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  color:#333;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


 .btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}




  

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  
  
}
.btn-grad:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
  }
 
.btn-grad:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
 }


.border-top {
  border-radius: 5%;
}

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
